<div class="py-5">
<h1 class="text-center">
    通知一覧
    <i class="far fa-bell"></i>
</h1>

<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <%= render notifications %>
<% else %>
  <p class="text-center py-5">通知はありません。</p>
<% end %>

</div>