<div class="card-deck py-5 px-5">

  <div class="card my-5 border-info">
    <%= image_tag "calendar.jpg", width: "100%", height: "50%" %>
    <div class="card-body">
      <h5 class="about-card-title border-bottom">カレンダー/コメント</h5>
      <p class="card-text">
          カレンダーでは旅行や家電の購入など大きな支出や外食した日などを記録します。</br>
          下のコメントではその月のお金の使い方や方向性などを話す場として使ったり、共有したい情報があるときに使うなどして活用してください！
      </p>
    </div>
  </div>

  <div class="card my-5 border-info">
    <%= image_tag "carculate.jpg", width: "100%", height: "50%" %>
    <div class="card-body">
      <h5 class="about-card-title border-bottom">家計簿</h5>
      <p class="card-text">こちらでは、先取り貯金のような形で、月初めに今月の支出予定を記録してください。</p>
    </div>
  </div>
  <div class="card my-5 border-info">
    <%= image_tag "list.jpg", width: "100%", height: "50%" %>
    <div class="card-body">
      <h5 class="about-card-title border-bottom">購入検討リスト/購入リスト</h5>
      <p class="card-text">
          購入検討リストでは、購入を検討しているものをリストにします。
          実際にその中から購入したものは購入リストに入れます。</br>
          購入リストでは、家計簿で設定した自由費と合計購入金額の差額を確認できます。
      </p>
    </div>
  </div>
</div>
</div>