<div class="card bg-dark">
  <%= image_tag "top-pig.jpg", width: "100%", height: "100%", class: 'bd-placeholder-img bd-placeholder-img-lg card-img'%>
  <div class="card-img-overlay">
    <p class="card-title col-3 mt-2 text-dark font-weight-bold font-size bg-light">もっと楽に</p>
    <p class="card-title col-8 text-dark font-weight-bold font-size bg-light">お金の管理・共有をしませんか？</p>
  </div>
</div>