<h1>今月の購入リスト</h1>

<h4>今月の娯楽費の予算は<%= @month_enjoy %>円</h4>

<table>
    <tr>
        <th>商品名</th>
        <th>価格</th>
    </tr>
    <% @buys.each do |buy| %>
    <tr>
        <td><%= buy.want.name%></td>
        <td><%= buy.want.price %>円</td>
    </tr>
    <% end %>

</table>

<h6>合計金額<%= @sum %></h6>